:root{
    --white: #FFFFFF;
    --orange: #f45b14;
    --dark-blue: #06486B;
    --light-blue: #1797B0;
    --black: #000000;
    --gray-light:#eaf1f4;
    --font-family: 'Roboto', sans-serif;
    --font-family-head: 'Roboto Condensed', sans-serif;
    --animate-delay: 0.5s !important;
    --animate-duration: 0.5s !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Roboto', sans-serif;
  line-height: 1.2;
  font-size: 14px;
}

hr{
  border-color: rgb(244 91 20 / 30%) !important;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


.line-brand::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--light-blue);
  margin-top:10px;
  margin-bottom:10px;
}

.line-about-us::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--light-blue);
  margin-top:10px;
  margin-bottom:10px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px #06486B42;
  }
}

.button-sendmail{
  background-color: var(--dark-blue) !important;
  font-weight: bold !important;
  padding: 10px 15px !important;
}
.button-sendmail:hover{
    background-Color: var(--orange) !important;
}